[Unit]
Description=Mount USB sticks for GCode transfer
BindsTo=dev-%i.device
After=dev-%i.device

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/usb-gcode-mount.sh %I
ExecStop=/usr/local/bin/usb-gcode-unmount.sh %I
